target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
RC5_Template/node_modules
RC5_Template/typings
*.iws
*.iml
*.ipr
*.js
*.map

### Log files ###
*.log

### Project ###
*.jar

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/mvnw
/mvnw.cmd
.mvn/
mvnw
mvnw.cmd
