<!--<h2>Campaign Overview</h2>-->
<table border="2px">
    <thead>
    <tr>
        <th>Campaign Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Owner</th>
        <th>Creation Time</th>
        <th>Enabled</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Selector</th>
        <th>Asset</th>
    </tr>
    </thead>
    <tr *ngFor="let campaign of rows">
        <td align="center">{{campaign.id}}</td>
        <td><a [routerLink]="['/campaign', campaign.name]" routerLinkActive="active">{{campaign.name}}</a></td>
        <!-- <td>{{campaign.name}}</td> -->
        <td>{{campaign.description}}</td>
        <td>{{campaign.owner}}</td>
        <td>{{campaign.creationTime | date:"dd/MM/yyyy HH:mm"}} </td>
        <td align="center">{{campaign.enabled == true ? 'Yes' : 'No'}}</td>
        <td>{{campaign.startTime | date:"dd/MM/yyyy"}}</td>
        <td>{{campaign.endTime | date:"dd/MM/yyyy"}}</td>
        <td>
            <table border="0px" >
                <tr *ngFor="let selector of campaign.selectors">
                    <nav>
                        <a title="Details of Selector" [routerLink]="['/selector', selector.id, campaign.name]" routerLinkActive="active"><td>{{selector.name}}</td></a>
                    </nav>
                    <router-outlet>
                    </router-outlet>
                </tr>
            </table>
        </td>
        <td>
            <table border="0px">
                <tr *ngFor="let asset of campaign.assets">
                    <nav>
                        <a title="Details of Asset" [routerLink]="['/asset', asset.id, campaign.name]" routerLinkActive="active"><td>{{asset.name}}</td></a>
                    </nav>
                    <router-outlet>
                    </router-outlet>
                </tr>
            </table>
        </td>
    </tr>
</table>
<h5>{{errorMessage}}</h5>
