<table border="2px">
  <tr style="background-color: blue; font-size: large; color: white">
      <td>Campaign</td>
      <a style="color: white" [routerLink]="['/campaigns']"><td>{{campaignName}}</td></a>
  </tr>
    <tr>
        <td>Asset Id</td>
        <td>{{asset.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{asset.name}}</td>
    </tr>
    <tr>
        <td>Filename</td>
        <td>{{asset.filename}}</td>
    </tr>
    <tr>
        <td>Priority</td>
        <td>{{asset.priority}}</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>{{asset.duration}}</td>
    </tr>
    <tr>
        <td>Index</td>
        <td>{{asset.index}}</td>
    </tr>
    <tr>
        <td>Tracking Code</td>
        <td>{{asset.trackingCode}}</td>
    </tr>
</table>
